[submodule "slide-template-uulm"]
	path = slide-template-uulm
	url = git@github.com:sp-uulm/FancyBeamerUULM.git
[submodule "fancyqr"]
	path = fancyqr
	url = https://github.com/EagleoutIce/fancyqr
[submodule "xlistings"]
	path = xlistings
	url = https://github.com/EagleoutIce/xlistings
[submodule "code-animation"]
	path = code-animation
	url = https://github.com/EagleoutIce/code-animation.git
[submodule "abstract-interpretation-ltx"]
	path = abstract-interpretation-ltx
	url = git@github.com:EagleoutIce/abstract-interpretation-ltx.git
